* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    max-width: 1200px; /* Ancho máximo para el contenedor */
}

.topic {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex: 1 1 200px; /* Permite que los temas se ajusten y crezcan */
    max-width: 200px; /* Ancho máximo para cada tema */
}

.topic img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    max-width: 150px; /* Ancho máximo de la imagen */
}

/* Estilos para los botones de acción */
.actions {
    text-align: center;
    margin-top: 30px;
}

.action-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.action-button:hover {
    background-color: #45a049;
}

.action-button:focus {
    outline: none;
}
